<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {variant:'/css/style.css'}) %>

<body>

    <%- include('./partials/header') %>
   
    <main class="main-main">
        <div class="main-banner">
            <img src="/images/img-home-banner.jpg" alt="Home Banner">
        </div>
        <section>       
            <h2>Basado en tu última visita</h2>
            <div class="main-section-div">
                <% for(let i= 0; i < products.length; i++) { %> 
                    <article class="main-section-product">
                        <div class="main-section-img">
                            <img src="/images/imagenML<%= i %>.jpg" alt="<%= products[i].nombre %>">
                        </div>
                        <div class="main-section-info">
                            <div class="informacion-precio-descuento">
                                <i class="fa-solid fa-truck"></i>
                                <p class="precio-producto">$<%= products[i].precio %></p>
                                <p class="descuento-producto"><%= products[i].descuento %>% OFF</p>
                            </div>
                            <div class="section-h3">
                                <h3><%= products[i].nombre %></h3>
                            </div>
                        </div>
                    </article>
                <% } %>
            </div>
        </section>
        <section>
            <h2>&#128293 Ofertas &#128293</h2>
            <div class="main-section-div">
                <% for(let i= 0; i < products.length; i++) { %> 
                    <article class="main-section-product">
                        <div class="main-section-img">
                            <img src="/images/imagenML<%= i %>.jpg" alt="<%= products[i].nombre %>">
                        </div>
                        <div class="main-section-info">
                            <div class="informacion-precio-descuento">
                                <i class="fa-solid fa-truck"></i>
                                <p class="precio-producto">$<%= products[i].precio %></p>
                                <p class="descuento-producto"><%= products[i].descuento %>% OFF</p>
                            </div>
                            <div class="section-h3">
                                <h3><%= products[i].nombre %></h3>
                            </div>
                        </div>
                    </article>
                <% } %>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>
