<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {variant:'/css/register.css'}) %>

<body>

    <%- include('./partials/header') %>

    <main>
        <div class="form-controller">
            <div class="ruta-register">
                <a href="/">Home</a>/<a href="#">Account</a>/<p>Register</p>
            </div>
            <div class="saludo-img">
                <p>WELCOME</p>
            </div>
            <form action="/users/register" method="post" class="formulario" enctype="multipart/form-data">
                <div class="div-input-text">
                    <label for="name"><i class="fa-solid fa-id-card"></i><input id="name" class="input-text" name="name" type="text" placeholder="Name & Last Name" value="<%= locals.oldData ? oldData.name : null%>"></label>
                    <% if (locals.errors && errors.name) { %>
                        <p style="color: red; margin-top: 10px;"><%- errors.name.msg %></p>
                    <% } %>
                </div>
                <div class="div-input-text">
                    <label for="userName"><i class="fa-solid fa-user"></i><input id="userName" class="input-text" name="userName" type="text" placeholder="User Name" value="<%= locals.oldData ? oldData.userName : null%>"></label>
                    <% if (locals.errors && errors.userName) { %>
                        <p style="color: red; margin-top: 10px;"><%- errors.userName.msg %></p>
                    <% } %>
                </div>
                <div class="div-input-date">
                    <label for="date"><i class="fa-solid fa-calendar-days"></i><input id="date" class="input-date" name="date" type="date" value="<%= locals.oldData ? oldData.date : null%>"></label>
                </div>
                <div class="div-input-residence">
                    <label for="residence"><i class="fa-solid fa-house"></i><input id="residence" class="input-residence" name="residence" type="text" placeholder="Residence" value="<%= locals.oldData ? oldData.residence : null%>"></label>
                </div>
                <div class="div-input-userProfile">
                    <label class="userProfile">User Profile:</label>
                    <% let radioBotton = [{ id: 'comprador', value: 'Comprador'},{id: 'vendedor', value: 'Vendedor' }] %>
                    <% for( let i = 0; i < radioBotton.length; i++ ) { %>
                        <label class="label-radio-check"><input id="<%= radioBotton[i].id %>" class="input-userProfile" name="userProfile" type="radio" value="<%= radioBotton[i].value %>" <%= locals.oldData && (oldData.userProfile == radioBotton[i].value) ? 'checked' : null %> > <%= radioBotton[i].value %> </label>
                    <% } %> 
                </div>
                <div class="div-input-interests">
                    <label class="interests">Interests:</label>
                    <% let checkbox = [{ id: 'electro', value: 'Electro'}, {id: 'moda', value: 'Moda'}, {id: 'hogar', value: 'Hogar'}, {id: 'jugueteria', value: 'Jugueteria'}, {id: 'vidaSana', value: 'Vida Sana' }] %>
                    <% for( let i = 0; i < checkbox.length; i++ ) { %>
                        <label class="label-radio-check"><input id="<%= checkbox[i].id %>" class="input-interests" name="interests" value="<%= checkbox[i].value %>" type="checkbox"
                            <% if (locals.oldData && oldData.interests) { %>
                                <% for( let j = 0; j < oldData.interests.length; j++ ) { %>
                                    <%= locals.oldData && (oldData.interests == checkbox[i].value || oldData.interests[j] == checkbox[i].value) ? 'checked' : null %> 
                                <% } %>
                            <% } %>
                        > <%= checkbox[i].value %> </label>    
                    <% } %>                    
                </div>
                <div class="div-input-imageUser">
                    <label for="imageUser">
                        <i class="fa-solid fa-house"></i>
                        <input id="imageUser" class="input-imageUser" name="imageUser" type="file">
                        <% if (locals.errors && errors.imageUser) { %>
                            <p style="color: red; margin-top: 10px;"><%- errors.imageUser.msg %></p>
                        <% } %>
                    </label>
                </div>
                <div class="div-input-password">
                    <div class="div-input-password-icon">
                        <label for="password"><i class="fa-solid fa-lock"></i></label>
                        <input id="password" class="input-password" name="password" type="password" placeholder="Password">
                        <div class="checkboxPass">
                            <input type="checkbox" id="checkPassword" onclick="mostrarPassword()">
                            <label for="checkPassword">
                                <i class="fa-solid fa-eye-slash" id="eyeSlash"></i>
                                <i class="fa-solid fa-eye" id="eye"></i>
                            </label>
                        </div>
                    </div>
                    <% if (locals.errors && errors.password) { %>
                        <p style="color: red; margin-top: 10px;"><%- errors.password.msg %></p>
                    <% } %>
                </div>                
                <div class="div-input-password-confirm">
                    <div class="div-input-password-icon-confirm">
                        <label for="passwordConfirm"><i class="fa-solid fa-lock"></i></label>
                        <input id="passwordConfirm" class="input-password-confirm" name="passwordConfirm" type="password" placeholder="Confirm Password">
                        <div class="checkboxPassConfirm">
                            <input type="checkbox" id="checkPasswordConfirm" onclick="mostrarConfirmPassword()">
                            <label for="checkPasswordConfirm">
                                <i class="fa-solid fa-eye-slash" id="eyeSlashConfirm"></i>
                                <i class="fa-solid fa-eye" id="eyeConfirm"></i>
                            </label>
                        </div>
                    </div>
                    <% if (locals.errors && errors.passwordConfirm) { %>
                        <p style="color: red; margin-top: 10px;"><%- errors.passwordConfirm.msg %></p>
                    <% } %>
                </div>
                <div class="checkbox">
                    <div class="text-checkbox">
                        <label for="checkAvanzado">Recorder User</label>
                    </div>
                    <div class="checkbox-pastilla">
                        <input type="checkbox" id="checkAvanzado" name="recorderUser" <%= locals.oldData && oldData.recorderUser ? 'checked' : null %> >
                        <label for="checkAvanzado"></label>
                    </div>
                </div>
                <div class="div-botones">
                    <div class="div-btn-register">
                        <button id="btnRegister" class="btn-register" type="submit">REGISTER</button>
                    </div>
                    <div class="div-btn-reset">
                        <button id="btnReset" class="btn-reset" type="reset">RESET</button></a>
                    </div>
                </div>
                <div class="redirection-login">
                    <p>Do have an account? <a href="/login"><i class="fa-solid fa-id-card"></i> Login</a></p>
                </div>
        
            </form>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>