<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {variant:'/css/style.css'}) %>
<html>
    <body>
        <%- include('partials/header.ejs') %>
        <main style="padding: 100px 0 0 20px;">
            <h1>Users List</h1>
            <ul>
                <% for(let i = 0; i < users.length; i++) { %>
                    <li style="list-style: none;">
                        <label style="width: 250px; display: inline-block;">Nombre y Apellido: <%= users[i].name %></label>
                        <label>Nombre de usuario: <%= users[i].userName %></label>
                    </li>
                <% } %>

                <h2>Search</h2>
                <form action="/user/details" method="get">
                    <input type="text" name="search">
                    <button type="submit" value="Search"></button>
                </form>
            </ul>
        </main>
        <%- include('partials/footer.ejs') %>
    </body>
</html>